<div class="projects">
  {{#if results}}
  <a class="proj-link"href="http://{{results.[0]._host}}:{{results.[0]._port}}" target="_blank">
    <div class="project">
      <div class="name">Project #{{results.[0].id}}. {{results.[0]._name}}</div>
      <div class="info">{{results.[0]._info}}</div>
      <div class="keys">
        {{#if results.[0]._key_01}}<span class="keywords">Keywords: </span>
                        <span class="key_01">{{results.[0]._key_01}}</span>{{/if}}
        {{#if results.[0]._key_02}}<span class="key_02">{{results.[0]._key_02}}</span>{{/if}}
        {{#if results.[0]._key_03}}<span class="key_03">{{results.[0]._key_03}}</span>{{/if}}
        {{#if results.[0]._key_04}}<span class="key_04">{{results.[0]._key_04}}</span>{{/if}}
        {{#if results.[0]._key_05}}<span class="key_05">{{results.[0]._key_05}}</span>{{/if}}
        {{#if results.[0]._key_06}}<span class="key_06">{{results.[0]._key_06}}</span>{{/if}}
        {{#if results.[0]._key_07}}<span class="key_07">{{results.[0]._key_07}}</span>{{/if}}
        {{#if results.[0]._key_08}}<span class="key_08">{{results.[0]._key_08}}</span>{{/if}}
        {{#if results.[0]._key_09}}<span class="key_09">{{results.[0]._key_09}}</span>{{/if}}
        {{#if results.[0]._key_10}}<span class="key_10">{{results.[0]._key_10}}</span>{{/if}}
      </div>
    </div>
  </a>
  <a class="proj-link"href="http://{{results.[1]._host}}:{{results.[1]._port}}" target="_blank">
    <div class="project">
      <div class="name">Project #{{results.[1].id}}. {{results.[1]._name}}</div>
      <div class="info">{{results.[1]._info}}</div>
      <div class="keys">
        {{#if results.[1]._key_01}}<span class="keywords">Keywords: </span>
                        <span class="key_01">{{results.[1]._key_01}}</span>{{/if}}
        {{#if results.[1]._key_02}}<span class="key_02">{{results.[1]._key_02}}</span>{{/if}}
        {{#if results.[1]._key_03}}<span class="key_03">{{results.[1]._key_03}}</span>{{/if}}
        {{#if results.[1]._key_04}}<span class="key_04">{{results.[1]._key_04}}</span>{{/if}}
        {{#if results.[1]._key_05}}<span class="key_05">{{results.[1]._key_05}}</span>{{/if}}
        {{#if results.[1]._key_06}}<span class="key_06">{{results.[1]._key_06}}</span>{{/if}}
        {{#if results.[1]._key_07}}<span class="key_07">{{results.[1]._key_07}}</span>{{/if}}
        {{#if results.[1]._key_08}}<span class="key_08">{{results.[1]._key_08}}</span>{{/if}}
        {{#if results.[1]._key_09}}<span class="key_09">{{results.[1]._key_09}}</span>{{/if}}
        {{#if results.[1]._key_10}}<span class="key_10">{{results.[1]._key_10}}</span>{{/if}}
      </div>
    </div>
  </a>
  <a class="proj-link"href="http://{{results.[2]._host}}:{{results.[2]._port}}" target="_blank">
    <div class="project">
      <div class="name">Project #{{results.[2].id}}. {{results.[2]._name}}</div>
      <div class="info">{{results.[2]._info}}</div>
      <div class="keys">
        {{#if results.[2]._key_01}}<span class="keywords">Keywords: </span>
                        <span class="key_01">{{results.[2]._key_01}}</span>{{/if}}
        {{#if results.[2]._key_02}}<span class="key_02">{{results.[2]._key_02}}</span>{{/if}}
        {{#if results.[2]._key_03}}<span class="key_03">{{results.[2]._key_03}}</span>{{/if}}
        {{#if results.[2]._key_04}}<span class="key_04">{{results.[2]._key_04}}</span>{{/if}}
        {{#if results.[2]._key_05}}<span class="key_05">{{results.[2]._key_05}}</span>{{/if}}
        {{#if results.[2]._key_06}}<span class="key_06">{{results.[2]._key_06}}</span>{{/if}}
        {{#if results.[2]._key_07}}<span class="key_07">{{results.[2]._key_07}}</span>{{/if}}
        {{#if results.[2]._key_08}}<span class="key_08">{{results.[2]._key_08}}</span>{{/if}}
        {{#if results.[2]._key_09}}<span class="key_09">{{results.[2]._key_09}}</span>{{/if}}
        {{#if results.[2]._key_10}}<span class="key_10">{{results.[2]._key_10}}</span>{{/if}}
      </div>
    </div>
  </a>
  {{/if}}
</div>